*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  /* ------Primary------- */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  /* ------Neutral------- */
  --White: hsl(0, 0%, 100%);
  --lightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

body {
  background-color: var(--very-dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  padding: 0 2rem;
}

main {
  color: var(--White);
  border-radius: 0.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 35.625rem 33.75rem;
  grid-template-columns: 35.625rem 33.75rem;
  -ms-grid-row: auto;
  grid-template-rows: auto;
  max-width: 69.375;
  overflow: hidden;
  position: relative;
}

ul {
  list-style: none;
}
/* styling info section */
main .info-section {
  grid-column: 0.5;
  background-color: var(--dark-desaturated-blue);
  padding: 3.75rem;
}
main .info-section .title {
  color: var(--White);
  font-size: 2.375rem;
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  line-height: 2.5rem;
}
main .info-section .title span {
  color: var(--Soft-violet);
}
main .info-section .description {
  margin: 3rem 0 4rem;
  padding-right: 3.8rem;
  font-size: 0.9375rem;
  font-family: "Inter", sans-serif;

  line-height: 1.7;
  color: var(--lightly-transparent-white);
}
/* styling the stats */
main .info-section .stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main .info-section .stats li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 3rem;
}
main .info-section .stats .number {
  padding: 0.5rem 0;
  font-size: 1.375rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: var(--White);
}
main .info-section .stats .stats-heading {
  color: var(--Slightly-transparent-white);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.0525rem;
}
/* styling the image section */
main .image-section {
  grid-column: 2/3;
  position: relative;
}
main .image-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: multiply;
  background-color: var(--Soft-violet);
}
main .image-section .desktop {
  opacity: 1;
}
main .image-section .mobile {
  opacity: 0;
}
main .image-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* styling the attribution */
.attribution {
  position: absolute;
  bottom: 0.3125rem;
  font-size: 0.8125rem;
  text-align: center;
  color: var(--lightly-transparent-white);
}
.attribution a {
  color: var(--soft-violet);
}
.attribution a:focus-visible {
  outline: 2px dashed var(--lightly-transparent-white);
}

/* ------------------ media query for  screens less than  1195px ----------*/
@media screen and (max-width: 74.6875rem) {
  main {
    -ms-grid-columns: 51.351% 48.648%;
    grid-template-columns: 51.351% 48.648%;
  }
  main .info-section .title {
    font-size: 2rem;
  }
  main .info-section .description {
    padding-right: 1rem;
  }
}
/* ------------------ media query for  screens less than  995px ----------*/

@media screen and (max-width: 62.1875rem) {
  main {
    max-width: 37.25rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 3.125rem auto;
  }
  main .image-section {
    width: 100%;
    min-height: 19rem;
    text-align: center;
  }
  main .info-section .description {
    margin: 3rem 0 2rem;
  }
  main .info-section .stats {
    justify-content: space-between;
  }
}
/* ------------------ media query for  screens less than 588px ----------*/
@media screen and (max-width: 562px){
    main{
        max-width: 25rem;
    }
    /* styles for the image section */
    main .image-section{
        min-height:11.25rem;
    }
    main .image-section .mobile{
        opacity: 1;
    }
    main .image-section .desktop{
        opacity: 0;
    }
